<!DOCTYPE html>
<html>
  <head>
    <title>Kiosk App</title>
    {% include 'head.html' %}
  </head>
  <body>

  <main>
    {% block messages %}
    {% if messages %}
    <div class="container">
        <div class="col-sm-2 messages_cont">
            {% for message in messages %}
            <div class="alert alert-dismissible {% if message.tags %}alert-{{ message.tags }}{% endif %}">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                {{ message }}
            </div>
            {% endfor %}
        </div>
    </div>
    {% endif %}
    {% endblock %}

    <div class="container">
      {% block content %}{% endblock %}
    </div>
    </main>


  {% block footer %}{% endblock %}

  </body>

</html>

