{% extends 'base.html' %}
{% block title %}Update Information{% endblock %}

{% block content %}

<a class="btn-floating waves-effect waves-light back_btn" href="{% url 'checkin' %}">
        <i class="material-icons left">arrow_back</i></a>

<div class="container" >
    <h1>Confirm information and check into your appointment</h1>
    <div class="form-group">
      <form method="POST" class="form-display">{% csrf_token %}
        {{ infoForm.as_p }}
        <button class="btn waves-effect waves-light" type="submit" value="Search">Complete CheckIn</button>
      </form>
    </div>
</div>

{% endblock %}