{% extends 'base.html' %}
{% block head_title %}Appointment Lookup {{ block.super }}{% endblock %}

{% block content %}

<a class="btn-floating waves-effect waves-light back_btn" href="{% url 'checkin' %}">
        <i class="material-icons left">arrow_back</i></a>

<ul class="collection">
{% for appt in appts_list %}
    <li class="collection-item avatar">

          <div class="card horizontal blue-grey darken-1">
              <a class="activator btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">arrow_forward</i></a>
              <div class="card-image">
                  <img src="{{ appt.picture }}" height="170px" width="170px">
              </div>
              <div class="card-content white-text">
                  <span class="card-title">{{ appt.patient_first_name }}  {{ appt.patient_last_name }}</span>
                  <p>Scheduled Time: {{ appt.scheduled_time }} </p>
                  <p>Reason: {{appt.reason}}</p>
                  <p>Doctor: {{ appt.doctor_first_name }}  {{ appt.doctor_last_name }}<p>
              </div>
              <div class="card-reveal">
                  <form action="/verify/{{ patient_id }}/" method="POST" class="col s12">{% csrf_token %}
                  {{ appt.form.as_p }}
                      <button  class="btn waves-effect waves-light right" type="submit" value="Search">Verify</button>
                  </form>
              </div>
        </div>

    </li>
{% endfor %}
</ul>

{% endblock %}
